<%- include("partials/header.ejs") %>
<section id="register">
     <form action="/addClient" id="clientInfo" method="post">
          <div class="container">
            <h3>Personal Info:</h3>
            <div class="register-row">
              <div class="register-column name">
                <label for="validationDefault01" class="form-label">Name:</label>
                <input type="text" class="form-control" name="name" id="validationDefault01" required>
              </div>
              
              <div class="register-column">
                <label for="validationDefaultEmail" class="form-label">E-mail:</label>
                <div class="input-group">
                  <input type="email" class="form-control" name="email" id="validationDefaultEmail"  aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>

              <div class="register-column">
                <label for="validationDefault02" class="form-label">Phone Number:</label>
                <div class="input-group">
                  <span class="input-group-text" id="inputGroupPrepend2">+91</span>
                  <input type="text" class="form-control" name="contact" id="validationDefault02"  aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>
              <div class="register-column">
                <label for="validationDefault03" class="form-label">Note:</label>
                <div class="input-group">
                  <textarea form="clientInfo" id="validationDefault03" name="note" rows="3" cols="33" required ></textarea>
                </div>
              </div>
              <br>
              
              <h3>Address:</h3>
                <div class="register-column">
                  <label for="validationDefault04" class="form-label">Apartment:</label>
                  <input type="text" class="form-control" name="apartment" id="validationDefault04" required>
                </div>
  
                <div class="register-column">
                  <label for="validationDefault05" class="form-label">Address:</label>
                  <input type="text" class="form-control" name="address" id="validationDefault05" required>
                </div>
                <div class="register-column">
                  <label for="validationDefault06" class="form-label">Pin Code:</label>
                  <input type="text" class="form-control" name="pinCode" id="validationDefault06" required>
                </div>
  
              <br>
              
             <h3>Card Details:</h3>
                <div class="register-column">
                  <label for="validationDefault07" class="form-label">Card ID:</label>
                  <input type="text" class="form-control" name="cardId" id="validationDefault07" required>
                </div>
  
                <div class="register-column">
                  <label for="validationDefault08" class="form-label">Token ID:</label>
                  <input type="text" class="form-control" name="tokenId" id="validationDefault08" required>
                </div>
                <div class="register-column">
                  <label for="validationDefault09" class="form-label">Last four digits:</label>
                  <input type="text" class="form-control" name="last4digits" id="validationDefault09" required>
                </div>
             
              <div class="register-column">
                <button class="btn btn-primary" type="submit" style="width: 100%; margin-top:1rem">Add Client</button>
              </div>
              
            </div>
          </div>
      </form>
      </section>
      <%- include("partials/footer.ejs") %>