<%- include("partials/header.ejs") %>
      <section id="register">
        <h2>Social Login:</h2>
      <div class="container">
          <form action="/login/social" method="post">
          <div class="register-row">
        <div class="register-column">
            <label for="validationDefaultEmail" class="form-label">E-mail:</label>
            <div class="input-group">
              <input type="email" class="form-control" name="email" id="validationDefaultEmail"  aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
          <div class="register-column">
            <label for="validationDefaultPassword" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" id="validationDefaultPassword" required>
          </div>
          <div class="register-column">
            <button class="btn btn-dark" type="submit" style="width: 100%; margin-top:1rem;">Login</button>
          </div>
        </div>        
</form><br><br>
<h5>If not a user then:</h5><br>
        <a href="/register"><button class="btn btn-primary" style="width: 100%;">Sign up</button></a>
    </div>
</section>

<%- include("partials/footer.ejs") %>